.welcomer h3 {
    padding-top: 50px;
    font-family: 'EagleHorizon', cursive;
    text-align: center;
    color: black;
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 0 0 12px rgba(255,255,255,0.4);
}

h6 {
    text-align: center;
    padding-top: 20px;
}